<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>iOS Push Stream</string>
		<key>playlist_url</key>
		<string>rtmp://epiensup1.xst.kinxcdn.com/epiens</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iOS Pull Stream</string>
		<key>playlist_url</key>
		<string>https://epiens.xst.kinxcdn.com/epiens/test1/playlist.m3u8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Android Pull Stream</string>
		<key>playlist_url</key>
		<string>http://epiens.xst.kinxcdn.com/epiens/test2/playlist.m3u8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Reference Pull Stream</string>
		<key>playlist_url</key>
		<string>http://wowtv.xst.kinxcdn.com/wowtv/livestream/playlist.m3u8</string>
	</dict>
</array>
</plist>
